:coffeescript
  window.GridCnt = ($scope, $http)->
   $scope.page = 0
   $scope.items = #{@items.to_json}
   $scope.title = '#{@title}'
   $scope.count = #{@count}
   $scope.loading = false
   $scope.query = '#{params[:search]}'

   $scope.load = ()->
     return if $scope.loading
     $scope.loading = true
     params = {page: $scope.page, search: $scope.query}
     $http.get("#{url_for(action: 'index', format: :json)}", params: params).success (data)->
        $scope.loading = false
        $scope.items = data

   $scope.next = ()->
     $scope.page += 1
     $scope.load()

   $scope.prev = ()->
     return if $scope.page == 0
     $scope.page -= 1
     $scope.load()

   $scope.search = ()->
     $scope.page = 0
     $scope.load()

%div{'ng-controller' => 'GridCnt'}
  %h1 {{title}} [{{page*10}} of {{count}}]
  %form.well.form.form-search{'ng-submit'=> 'search()'}
    %input.search-query{type: 'text', name: 'search', 'ng-model'=> 'query'}
    %input.btn{type: 'submit', label: 'Submit', 'ng-submit'=> 'search()'}
    %a.btn{'ng-click' => "prev()", 'ng-disable' => "loading"} Prev
    %a.btn{'ng-click' => "next()", 'ng-disable' => "loading"} Next
  %table.table
    %thead
      %tr
        %th Name
        %th Email
        %th.span6 Summary
    %tr{'ng-repeat'=> 'item in items' }
      %td {{ item.name }}
      %td {{ item.email }}
      %td {{ item.summary }}
